kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: el-python-sample-route
  namespace: python-sample
  labels:
    eventlistener: el-python-sample
spec:
  to:
    kind: Service
    name: el-python-sample
    weight: 100
  port:
    targetPort: http-listener
  tls:
    termination: edge
  wildcardPolicy: None
